@use "../utils/mixins.scss" as *;


.compare {
  display: flex;
  padding: 92px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 120px 72px 0 72px;
    gap: 48px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(12, minmax(63px, 1fr));
    padding: 164px 120px 0 120px;
    gap: 24px;
  }


  &__item{
    grid-column: span 4;
    transition: transform 0.3s ease-in-out;

    &:hover{
      transform: scale(1.05)
    }
  }


  &__title{
    line-height: 32px;

    @include tablet {
      font-size: 48px;
      line-height: 100%;
    }

    @include desktop {
      grid-column: 1/13;
      justify-self: center;
      font-size: 64px;
    }

    &-small{
      padding-top: 32px;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0px;
      color: #FFF;
    }
  }


  &__photo{
    width: 100%;
    object-fit: cover;

    @include desktop {
      padding-top: 30px
    }
  }


  &__paragraph{
    padding-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }


  &__price{
    padding-top: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFF;
  }
}
