@use "../utils/mixins.scss" as *;


.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop {
    padding-top: 144px
  }


  &__title{
    line-height: 32px;

    @include tablet {
      font-size: 48px;
      line-height: 100%;
    }

    @include desktop {
      font-size: 64px;
    }

    &-small{
      padding-top: 16px;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0px;
    }
  }



  &__item{
    padding-top: 40px;

    @include tablet {
      padding-top: 48px;
    }

    @include desktop {
      padding-top: 24px;
    }

    &-first{
      padding-top: 48px;

      @include tablet {
        padding-top: 40px;
      }

      @include desktop{
        padding-top: 24px;
      }
    }
  }


  &__images{
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    gap: 20px;

    @include tablet{
      grid-template-columns: repeat(6, minmax(80px, 1fr));
      gap: 24px;
    }

    @include desktop{
      grid-template-columns: repeat(12, minmax(63px, 1fr));
      gap: 24px;
    }
  }


  &__photo{
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;

    @include tablet{
      grid-column: span 3;
      aspect-ratio: 0;
    }

    &--big {
      @include tablet{
        grid-column: span 4;
        height: 100%;
      }

      @include desktop{
        grid-column: span 8;
      }
    }

    &--small{
      @include tablet {
        grid-column: span 2;
        height: 100%;
      }

      @include desktop{
        grid-column: span 4;
      }
    }
  }


  &__paragraph{
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFF;

    @include desktop {
      width: 65%;
    }
  }


  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    aspect-ratio: 5;
    width: 100%;
    text-decoration: none;
    color: #1d1d1d;
    background-color: #fff;
    border-radius: 45px;
    font-family: 'Roboto';
    font-weight:900;
    font-size: 20px;
    line-height: 27px;

    @include tablet{
      aspect-ratio: 8;
      width: 85%;
      margin-top: 48px;
    }

    @include desktop{
      width: 50%;
    }
  }
}
