@use "../utils/mixins.scss" as *;


.header {
  background-image: url(./photos/bike-background.svg);
  height: 85dvh;
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  @include tablet {
    height: 100dvh;
    background-position: center;
  }

  &__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    color: #fff;
    padding: 0 20px;

    padding-bottom: 88px;


    @include tablet {
      font-size: 68px;
      padding: 0 72px 130px 72px;
    }

    @include desktop {
      font-size: 80px;
      padding: 0 294px 203px 294px;

    }
  }
}
