@use "../utils/mixins.scss" as *;


.navigation {
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 1fr));
  gap: 20px;
  padding: 24px 20px;
  align-items: center;

  @include tablet {
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    gap: 24px;
    padding: 36px 72px;
  }

  @include desktop {
    grid-template-columns: repeat(12, minmax(63px, 1fr));
    padding: 36px 120px;
  }


  &__links{
    justify-self: end;
    display: flex;
    gap: 24px;
    align-items: center;

    @include tablet {
      grid-column: 6;
      gap: 32px;
    }

    @include desktop {
      grid-column: 12;
    }
  }


  &__logo{
    height: 38px;

    @include tablet {
      height: 56px;
    }
  }


  &__link {
    display: flex;
    align-items: center;
  }


  &__image{
    height: 18px;
    width: 18px;

    @include tablet {
      height: 24px;
      width: 24px;
    }
    }
}
