@use "../utils/mixins.scss" as *;

.phone {
  &__label{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;

    color: #fff;
    position: absolute;
    transform: translateX(calc(-100% - 20px));
  }

  &:not(:hover) .phone__label{
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
